[submodule "glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm
[submodule "GLFW"]
	path = libs/GLFW
	url = https://github.com/CloudCodingSpace/GLFW
[submodule "ImGui"]
	path = libs/ImGui
	url = https://github.com/CloudCodingSpace/ImGui
	branch = docking
